.zom-cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* .restaurant-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  margin: 10px auto;
  width: 200px;
  cursor: pointer;
  border-radius: 3px;
  background: white;
  padding: 10px;
} */
