.App {
  text-align: center;
}

/* body */
html,
body {
  padding: 0px;
  margin: 0px;
  background-color: white;
  color: whites;
  font: Belleza;
  background-color: #883f44;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #101316;
  color: white;
  margin: 0px;
  padding: 7px;
}

footer p {
  margin-top: 0.8em !important;
  margin-left: 1.5em;
}

/* main */
.main {
  height: 100%;
  min-height: 100%;
  margin-top: 15px;
}

.mainDiv {
  margin: auto;
  width: 90%;
  padding: 5px;
}

.sidebar {
  display: flex;
  background-color: #53565a;
  margin-top: 0px;
}

ul {
  list-style-type: none;
}

/* Sidebar */
.sidebar-list-styling {
  padding-left: 50px;
  padding-top: 15px;
  width: 20%;
  background-color: #53565a;
  color: white;
  height: 100%;
}

.sidebar-list a {
  color: white;
  padding: 0;
}

.sidebar-route {
  flex: 1;
  padding: "00px";
}

/* header */
.header {
  margin-top: 0 !important;
  text-align: center;
  background-color: #101316;
  color: white;
}

.header a {
  color: white;
  margin-right: 15px;
}

.header p {
  margin-top: 0.8em !important;
}
